.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  font-style: italic;
  margin: 135px auto 0 460px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  font-style: italic;
  margin: -99px auto 0 524px;
}

.u-section-1 .u-line-1 {
  width: 247px;
  height: 11px;
  transform-origin: right center 0px;
  margin: -11px auto 0 446px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 8px auto 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  margin: 63px 228px 0 216px;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  margin: 27px 207px 0 195px;
}

.u-section-1 .u-accordion-1 {
  width: 512px;
  margin: 63px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  font-weight: 700;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-weight: 700;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 379px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 432px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 128px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 107px;
    margin-left: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 290px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 331px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 18px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 248px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}